<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product-form.css">
</head>
<body>
 <%- include('../includes/nav.ejs') %>
<main class="add-product-main">
    <h3 style="text-align: center;"><%= isEditing ? 'Edit Product' : 'Add Product' %></h3>
  <form action="/admin/<% if (isEditing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" class="add-product-form" enctype="multipart/form-data">
    <fieldset>
      <label for="title">Title</label>
      <input type="text" name="title" id="title" value="<%= (isEditing || hasError) ? product.title : '' %>" required />
    </fieldset>

    <fieldset>
      <label for="image">Image</label>
      <input type="file" name="image" id="image" class="image-upload"/>
    </fieldset>

    <fieldset>
      <label for="price">Price</label>
      <input type="number" step="0.01" name="price" id="price" required min="0" value="<%= (isEditing || hasError) ? product.price : '' %>" />
    </fieldset>

    <fieldset>
      <label for="description">Description</label>
      <textarea style="padding-top: 5px;" id="description", name="description" rows="2" required ><%= (isEditing || hasError) ? product.description: '' %></textarea>
    </fieldset>

    <% if (isEditing) { %>
                <input type="hidden" value="<%= product._id %>" name="id">
    <% } %>

    <button type="submit"><%= isEditing ? 'Update Product' : 'Add Product' %></button>
  </form>
</main>
<%- include('../includes/end.ejs') %>
